* {
    font-family: monospace;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#currencies-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 80%;
    padding-left: 1fr;
    gap: 10px;
}
.currency {
    display: flex;
}
#search-container {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 50px;
    width: 100%;
}
#search {
    width: 75%;
    padding: 25px;
    font-size: 1.5rem;
    border-radius: 15px;
    border: 2px solid black;
}
@media (width < 1000px) {
    #currencies-container {
        grid-template-columns: repeat(1, 3fr);
    }
}
@media (width < 800px) {
    #currencies-container {
        grid-template-columns: repeat(1, 1fr);
    }
}