:root {
	font-size: 21px;
}

input {
	border: 1.5px solid black;
	outline: none;
	font-size: 1rem;
}

button {
	border: 1.5px solid black;
	border-radius: 0;
	background: white;
	outline: none;
	font-size: 0.8rem;
}

button:hover {
	cursor: pointer;
}

#cn-findr-ctn {
	position: absolute;
	background: white;
	border: 1.5px solid black;
	width: 125px;
	height: 225px;
}

#cn-search-ctn {
	padding: 7.5px;
	border-bottom: 1.5px solid black;
	display: flex;
	align-items: center;
	height: 10px;
}

#cn-search-inp {
	margin-left: 5px;
	border: none;
	font-size: 0.6rem;
	width: 75%;
}
#cn-findr-rslts {
	overflow-y: scroll;
	height: 198.5px;
}
.search-rslt {
	padding: 2px;
	border: 1px solid transparent;
	display: flex;
	justify-content: space-between;
}
.search-rslt:hover {
	cursor: pointer;
	border: 1px solid black;
}
.search-rslt-desc {
	color: grey;
	max-width: 65%;
	text-wrap: nowrap;
	overflow-x: hidden;
	font-size: 0.5rem;
	display: flex;
	align-items: center;
}

.search-rslt-code {
	font-size: 0.65rem;
}

body {
	width: 300px;
	height: 309.43px;
}

.setting-catagory {
	color: grey;
	margin-right: 5px;
}

.setting-desc {
	margin-bottom: 0.5rem;
}

#dfcur-inter-btn {
	width: 50%;
	display: flex;
	justify-content: space-between;
}

#cnvrt-intr-ctn {
	display: flex;
}

#cnvrt-intr-ctn input {
	font-size: 0.7rem;
	border-right: 1px solid black;
	width: 22%;
}

 #cnvrt-intr-ctn button {
	font-size: 0.7rem;
	border-left: 0;
	width: 22%;
}

#cnvrt-intr-ctn svg {
	padding: 0% 1% 0% 1%;
}
